<div class="container" *ngIf="carePlanModel$ | async as carePlanModel">
    <div class="row">
        <div class="col-md-6">
            <div class="detail">
                <span>Case Name:</span>
                <p>{{ carePlanModel.caseName }}</p>
            </div>
            <div class="detail">
                <span>Case Acuity:</span>
                <p>{{ carePlanModel.caseAcuity }}</p>
            </div>
            <div class="detail">
                <span>Source:</span>
                <p>{{ carePlanModel.caseSource }}</p>
            </div>
            <div class="detail">
                <span>Description:</span>
                <p>{{ carePlanModel.description }}</p>
            </div>
            <div class="detail">
                <span>Note:</span>
                <p>{{ carePlanModel.note }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail">
                <span>Primary Contact:</span>
                <p>{{ carePlanModel.primaryContact }}</p>
            </div>
            <div class="detail">
                <span>Main Diagnosis:</span>
                <p>{{ carePlanModel.mainDiagnosis }}</p>
            </div>
            <div class="detail">
                <span>Additional Diagnosis:</span>
                <p>{{ carePlanModel.additionalDiagnosis }}</p>
            </div>
            <div class="detail">
                <span>Additional Other Diagnosis:</span>
                <p>{{ carePlanModel.AdditionalOtherDiagnosis }}</p>
            </div>
        </div>
    </div>
</div>
