<h2 mat-dialog-title>Add Case</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="caseForm">
    <div class="d-flex flex-column">
      <!-- Case Name -->
      <mat-form-field appearance="fill">
        <input
          type="text"
          placeholder="Case"
          matInput
          [matAutocomplete]="auto1"
          formControlName="caseName"
          (input)="onCaseInput($event)"
        />
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let val1 of filteredCase" [value]="val1">
            {{ val1 }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="caseForm.get('caseName')?.hasError('required')">
          Case name is required
        </mat-error>
      </mat-form-field>

      <!-- Case Equity -->
      <mat-form-field appearance="fill">
        <input
          type="text"
          placeholder="Case Equity"
          matInput
          [matAutocomplete]="auto2"
          formControlName="caseEquity"
          (input)="onCaseEquityInput($event)"
        />
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let val2 of filteredEquity" [value]="val2">
            {{ val2 }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="caseForm.get('caseEquity')?.hasError('required')">
          Case equity is required
        </mat-error>
      </mat-form-field>

      <!-- Source -->
      <mat-form-field appearance="fill">
        <input
          type="text"
          placeholder="Source"
          matInput
          [matAutocomplete]="auto3"
          formControlName="source"
          (input)="onSourceInput($event)"
        />
        <mat-autocomplete #auto3="matAutocomplete">
          <mat-option *ngFor="let val3 of filteredSource" [value]="val3">
            {{ val3 }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="caseForm.get('source')?.hasError('required')">
          Source is required
        </mat-error>
      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />

      </mat-form-field>

      <!-- Notes -->
      <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <input matInput formControlName="note" />

      </mat-form-field>

      <!-- Primary Contact -->
      <mat-form-field appearance="fill">
        <mat-label>Primary Contact</mat-label>
        <input matInput formControlName="primaryContact" />
        <mat-error *ngIf="caseForm.get('primaryContact')?.hasError('required')">
          Primary contact is required
        </mat-error>
      </mat-form-field>

      <!-- Main Diagnosis -->
      <mat-form-field appearance="fill">
        <mat-label>Main Diagnosis</mat-label>
        <input matInput formControlName="mainDiagnosis" />
        <mat-error *ngIf="caseForm.get('mainDiagnosis')?.hasError('required')">
          Main diagnosis is required
        </mat-error>
      </mat-form-field>

      <!-- Additional Diagnosis -->
      <mat-form-field appearance="fill">
        <mat-label>Additional Diagnosis</mat-label>
        <input matInput formControlName="additionalDiagnosis" />

      </mat-form-field>

      <!-- Additional Other Diagnosis -->
      <mat-form-field appearance="fill">
        <mat-label>Additional Other Diagnosis</mat-label>
        <input matInput formControlName="additionalOtherDiagnosis" />

      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="mt-4 mb-4">
  <button mat-stroked-button mat-dialog-close>Close</button>
  <button
    color="primary"
    mat-flat-button
    [disabled]="!caseForm.valid"
    (click)="onSave()"
    cdkFocusInitial
    [mat-dialog-close]="true" 
  >
    Save
  </button>
</mat-dialog-actions>
