<h2 mat-dialog-title>Assessment</h2>
<mat-dialog-content>
    <mat-card class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3"><label>Taking Bath/Shower</label></div>
                <div class="col-md-4 mb-3"><label>Going Up Stairs</label></div>
                <div class="col-md-4 mb-3"><label>Eating</label></div>
                <div class="col-md-4 mb-3"><label>Getting Dressed</label></div>
                <div class="col-md-4 mb-3"><label>Brushing Teeth/Hair/Shaving</label></div>
                <div class="col-md-4 mb-3"><label>Making Meals/Cooking</label></div>
                <div class="col-md-4 mb-3"><label>Getting Out of Bed/Chair</label></div>
                <div class="col-md-4 mb-3"><label>Shopping and Getting Food</label></div>
                <div class="col-md-4 mb-3"><label>Using the Toilet</label></div>
                <div class="col-md-4 mb-3"><label>Walking</label></div>
                <div class="col-md-4 mb-3"><label>Have You Fallen Last Month</label></div>
                <div class="col-md-4 mb-3"><label>Are You Afraid of Falling</label></div>
                <div class="col-md-4 mb-3"><label>Friends/Family Concerned About You</label></div>
                <div class="col-md-4 mb-3"><label>Glasses</label></div>
                <div class="col-md-4 mb-3"><label>Cane</label></div>
                <div class="col-md-4 mb-3"><label>Walker</label></div>
                <div class="col-md-4 mb-3"><label>Hearing Device</label></div>
                <div class="col-md-4 mb-3"><label>TTY</label></div>
                <div class="col-md-4 mb-3"><label>Crutches</label></div>
                <div class="col-md-4 mb-3"><label>Grab Bars</label></div>
                <div class="col-md-4 mb-3"><label>Raised Toilet Seat</label></div>
                <div class="col-md-4 mb-3"><label>Feeding Tube</label></div>
                <div class="col-md-4 mb-3"><label>Wheelchair</label></div>
                <div class="col-md-4 mb-3"><label>Food Supplements</label></div>
                <div class="col-md-4 mb-3"><label>Hospital Bed</label></div>
                <div class="col-md-4 mb-3"><label>Oxygen</label></div>
                <div class="col-md-4 mb-3"><label>Ostomy Supplies</label></div>
                <div class="col-md-4 mb-3"><label>CPAP/BiPAP</label></div>
                <div class="col-md-4 mb-3"><label>Diabetes Supplies</label></div>
                <div class="col-md-4 mb-3"><label>Large Print</label></div>
                <div class="col-md-4 mb-3"><label>Sideboard</label></div>
                <div class="col-md-4 mb-3"><label>Urinary Catheter</label></div>
                <div class="col-md-4 mb-3"><label>IV Infusions for Meds</label></div>
                <div class="col-md-4 mb-3"><label>Incontinence</label></div>
                <div class="col-md-4 mb-3"><label>Tracheostomy/Suction</label></div>
                <div class="col-md-4 mb-3"><label>Lift Device</label></div>
                <div class="col-md-4 mb-3"><label>Mental Health History</label></div>
                <div class="col-md-4 mb-3"><label>Reduction in Interest Doing Things</label></div>
                <div class="col-md-4 mb-3"><label>Felt Depressed or Hopeless</label></div>
                <div class="col-md-4 mb-3"><label>Thoughts of Hurting Yourself</label></div>
                <div class="col-md-4 mb-3"><label>How Stressed Are You</label></div>
                <div class="col-md-4 mb-3"><label>Traumatic Events Experience</label></div>
                <div class="col-md-4 mb-3"><label>Changes in Thinking/Remembering</label></div>
                <div class="col-md-4 mb-3"><label>Felt Worried or Scared in Past Month</label></div>
                <div class="col-md-4 mb-3"><label>Do You Experience Pain</label></div>
                <div class="col-md-4 mb-3"><label>Pain Interference Last Week</label></div>
                <div class="col-md-4 mb-3"><label>Last Time Saw Regular Doctor</label></div>
                <div class="col-md-4 mb-3"><label>Currently Pregnant</label></div>
                <div class="col-md-4 mb-3"><label>Given Birth in Last Twelve Months</label></div>
                <div class="col-md-4 mb-3"><label>Any Problems Eating</label></div>
                <div class="col-md-4 mb-3"><label>Trouble with Vision</label></div>
                <div class="col-md-4 mb-3"><label>Diabetic Eye Exam in Last Year</label></div>
                <div class="col-md-4 mb-3"><label>Trouble with Hearing</label></div>
                <div class="col-md-4 mb-3"><label>Getting Wound Care Now</label></div>
                <div class="col-md-4 mb-3"><label>Vaccinations as an Adult</label></div>
                <div class="col-md-4 mb-3"><label>Arthritis/Chronic Pain</label></div>
                <div class="col-md-4 mb-3"><label>Asthma</label></div>
                <div class="col-md-4 mb-3"><label>Ankle/Leg Swelling</label></div>
                <div class="col-md-4 mb-3"><label>Alzheimer's/Dementia/Memory Loss</label></div>
                <div class="col-md-4 mb-3"><label>Cancer</label></div>
                <div class="col-md-4 mb-3"><label>COPD/Emphysema/Bronchitis</label></div>
                <div class="col-md-4 mb-3"><label>Congestive Heart Failure</label></div>
                <div class="col-md-4 mb-3"><label>Circulation Problems</label></div>
                <div class="col-md-4 mb-3"><label>Diabetes Type 1</label></div>
                <div class="col-md-4 mb-3"><label>Diabetes Type 2</label></div>
                <div class="col-md-4 mb-3"><label>Pre-Diabetic</label></div>
                <div class="col-md-4 mb-3"><label>Heart Problems</label></div>
                <div class="col-md-4 mb-3"><label>HIV/AIDS/Hepatitis</label></div>
                <div class="col-md-4 mb-3"><label>High Cholesterol</label></div>
                <div class="col-md-4 mb-3"><label>Hypertension</label></div>
                <div class="col-md-4 mb-3"><label>Kidney Disease</label></div>
                <div class="col-md-4 mb-3"><label>Osteoporosis</label></div>
                <div class="col-md-4 mb-3"><label>Parkinson’s Disease</label></div>
                <div class="col-md-4 mb-3"><label>Physical Disability (Para/Quadriplegic/Amputation)</label></div>
                <div class="col-md-4 mb-3"><label>Seizures</label></div>
                <div class="col-md-4 mb-3"><label>Sickle Cell Disease</label></div>
                <div class="col-md-4 mb-3"><label>Transplant</label></div>
                <div class="col-md-4 mb-3"><label>History of TB</label></div>
                <div class="col-md-4 mb-3"><label>Urinary Problems</label></div>
                <div class="col-md-4 mb-3"><label>Alcohol Use</label></div>
                <div class="col-md-4 mb-3"><label>Nicotin Products Use</label></div>
                <div class="col-md-4 mb-3"><label>Marijuana Use</label></div>
                <div class="col-md-4 mb-3"><label>Other Substance Use</label></div>
                <div class="col-md-4 mb-3"><label>Ever Felt Need to Cut Down on Substance Use</label></div>
                <div class="col-md-4 mb-3"><label>Pain Medicine</label></div>
                <div class="col-md-4 mb-3"><label>ADHD Medicine</label></div>
                <div class="col-md-4 mb-3"><label>Sleeping Pills</label></div>
                <div class="col-md-4 mb-3"><label>Other Medications</label></div>
            </div>
        </div>
    </mat-card>
    
</mat-dialog-content>
<mat-dialog-actions align="end" class="mt-4 mb-4">
    <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>
