<h2 mat-dialog-title>Assessment</h2>
<mat-dialog-content>
    <mat-card class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Taking Bath/Shower: </label>
                    <p>{{assessmentDetails.taking_bath_shower}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Going Up Stairs: </label>
                    <p>{{assessmentDetails.going_up_stairs}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Eating: </label>
                    <p>{{assessmentDetails.eating}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Getting Dressed: </label>
                    <p>{{assessmentDetails.getting_Dressed}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Brushing Teeth/Hair/Shaving: </label>
                    <p>{{assessmentDetails.brushing_teeth_hair_shaving}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Making Meals/Cooking: </label>
                    <p>{{assessmentDetails.making_meals_cooking}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Getting Out of Bed/Chair: </label>
                    <p>{{assessmentDetails.getting_out_of_bed_chair}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Shopping and Getting Food: </label>
                    <p>{{assessmentDetails.shopping_and_getting_food}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Using the Toilet: </label>
                    <p>{{assessmentDetails.using_the_toilet}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Walking: </label>
                    <p>{{assessmentDetails.walking}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Have You Fallen Last Month: </label>
                    <p>{{assessmentDetails.have_you_fallen_last_mnth}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Are You Afraid of Falling: </label>
                    <p>{{assessmentDetails.are_you_afraid_of_falling}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Friends/Family Concerned About You: </label>
                    <p>{{assessmentDetails.friends_Family_Concerned_about_you}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Glasses: </label>
                    <p>{{assessmentDetails.glass}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Cane: </label>
                    <p>{{assessmentDetails.cane}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Walker: </label>
                    <p>{{assessmentDetails.walker}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Hearing Device: </label>
                    <p>{{assessmentDetails.hearing_device}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">TTY: </label>
                    <p>{{assessmentDetails.tty}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Crutches: </label>
                    <p>{{assessmentDetails.crutches}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Grab Bars: </label>
                    <p>{{assessmentDetails.grab_bars}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Raised Toilet Seat: </label>
                    <p>{{assessmentDetails.raised_toilet_seat}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Feeding Tube: </label>
                    <p>{{assessmentDetails.feeding_tube}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Wheelchair: </label>
                    <p>{{assessmentDetails.wheelchair}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Food Supplements: </label>
                    <p>{{assessmentDetails.food_supplements}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Hospital Bed: </label>
                    <p>{{assessmentDetails.hospital_bed}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Oxygen: </label>
                    <p>{{assessmentDetails.oxygen}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Ostomy Supplies: </label>
                    <p>{{assessmentDetails.ostomy_supplies}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">CPAP/BiPAP: </label>
                    <p>{{assessmentDetails.cpaP_BiPAP}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Diabetes Supplies: </label>
                    <p>{{assessmentDetails.diabates_supplies}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Large Print: </label>
                    <p>{{assessmentDetails.large_print}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Sideboard: </label>
                    <p>{{assessmentDetails.sideboard}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Urinary Catheter: </label>
                    <p>{{assessmentDetails.urinary_cathetor}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">IV Infusions for Meds: </label>
                    <p>{{assessmentDetails.iV_Infusionsformeds}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Incontinence: </label>
                    <p>{{assessmentDetails.incontinence}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Tracheostomy/Suction: </label>
                    <p>{{assessmentDetails.trach_suction}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Lift Device: </label>
                    <p>{{assessmentDetails.lift_device}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Mental Health History: </label>
                    <p>{{assessmentDetails.mH_Have_Mental_Health_History}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Reduction in Interest Doing Things: </label>
                    <p>{{assessmentDetails.mhA_Reduction_in_interest_doing_things}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Felt Depressed or Hopeless: </label>
                    <p>{{assessmentDetails.mhA_Felt_Depressed_or_hopeless}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Thoughts of Hurting Yourself: </label>
                    <p>{{assessmentDetails.mhA_Q9_Thoughts_of_hurting_yourself}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">How Stressed Are You: </label>
                    <p>{{assessmentDetails.a_How_stressed_are_you}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Traumatic Events Experience: </label>
                    <p>{{assessmentDetails.tS_Traumatic_events_experience}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Changes in Thinking/Remembering: </label>
                    <p>{{assessmentDetails.cF_Any_changes_in_thinking_remembering}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Felt Worried or Scared in Past Month: </label>
                    <p>{{assessmentDetails.cF_Felt_worried_scared_in_past_mnth}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Do You Experience Pain: </label>
                    <p>{{assessmentDetails.do_you_experience_pain}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Pain Interference Last Week: </label>
                    <p>{{assessmentDetails.last_week_Pain_Interference}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Last Time Saw Regular Doctor: </label>
                    <p>{{assessmentDetails.last_time_saw_reg_doctor}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Currently Pregnant: </label>
                    <p>{{assessmentDetails.currently_Pregnant}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Given Birth in Last Twelve Months: </label>
                    <p>{{assessmentDetails.given_birth_in_last_Tewlve_mnth}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Any Problems Eating: </label>
                    <p>{{assessmentDetails.have_any_prob_eating}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Trouble with Vision: </label>
                    <p>{{assessmentDetails.have_trouble_with_vision}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Diabetic Eye Exam in Last Year: </label>
                    <p>{{assessmentDetails.diabetic_Eye_Exam_in_Last_Year}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Trouble with Hearing: </label>
                    <p>{{assessmentDetails.have_trouble_with_hearing}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Getting Wound Care Now: </label>
                    <p>{{assessmentDetails.are_you_getting_wound_care_now}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Vaccinations as an Adult: </label>
                    <p>{{assessmentDetails.had_any_vaccinations_as_adult}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Arthritis/Chronic Pain: </label>
                    <p>{{assessmentDetails.arthritis_chronicpain}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Asthma: </label>
                    <p>{{assessmentDetails.asthma}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Ankle/Leg Swelling: </label>
                    <p>{{assessmentDetails.ankle_leg_swelling}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Alzheimer's/Dementia/Memory Loss: </label>
                    <p>{{assessmentDetails.alzheimers_dementia_memory_loss}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Cancer: </label>
                    <p>{{assessmentDetails.cancer}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">COPD/Emphysema/Bronchitis: </label>
                    <p>{{assessmentDetails.copD_emphysema_bronchitis}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Congestive Heart Failure: </label>
                    <p>{{assessmentDetails.congestive_Heart_Failure}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Circulation Problems: </label>
                    <p>{{assessmentDetails.circulation_problems}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Diabetes Type 1: </label>
                    <p>{{assessmentDetails.diabetes_Type_1}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Diabetes Type 2: </label>
                    <p>{{assessmentDetails.diabetes_Type_2}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Pre-Diabetic: </label>
                    <p>{{assessmentDetails.pre_Diabetic}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Heart Problems: </label>
                    <p>{{assessmentDetails.heart_problems}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">HIV/AIDS/Hepatitis: </label>
                    <p>{{assessmentDetails.hiV_AIDS_Hepatitis}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">High Cholesterol: </label>
                    <p>{{assessmentDetails.high_cholesterol}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Hypertension: </label>
                    <p>{{assessmentDetails.hypertension}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Kidney Disease: </label>
                    <p>{{assessmentDetails.kidney_disease}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Osteoporosis: </label>
                    <p>{{assessmentDetails.osteoporosis}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Parkinson’s Disease: </label>
                    <p>{{assessmentDetails.parkinson}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Physical Disability (Para/Quadriplegic/Amputation): </label>
                    <p>{{assessmentDetails.physical_disability_para_quadriplegic_amputation}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Seizures: </label>
                    <p>{{assessmentDetails.seizures}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Sickle Cell Disease: </label>
                    <p>{{assessmentDetails.sickle_Cell_Disease}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Transplant: </label>
                    <p>{{assessmentDetails.transplant}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">History of TB: </label>
                    <p>{{assessmentDetails.history_of_TB}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Urinary Problems: </label>
                    <p>{{assessmentDetails.urinary_problems}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Alcohol Use: </label>
                    <p>{{assessmentDetails.suB_Alcohal}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Nicotin Products Use: </label>
                    <p>{{assessmentDetails.suB_NicotinProducts}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Marijuana Use: </label>
                    <p>{{assessmentDetails.suB_Marijuana}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Other Substance Use: </label>
                    <p>{{assessmentDetails.suB_OtherSubstance}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Ever Felt Need to Cut Down on Substance Use: </label>
                    <p>{{assessmentDetails.suB_HavyouEverfelt_you_cutdown}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Pain Medicine: </label>
                    <p>{{assessmentDetails.nP_Pain_Medicine}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">ADHD Medicine: </label>
                    <p>{{assessmentDetails.nP_adhd_Medicine}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Sleeping Pills: </label>
                    <p>{{assessmentDetails.nP_Sleeping_Pills}}</p>
                </div>
                <div class="col-md-4 mb-3 d-flex gap-2"><label class="fw-bold">Other Medications: </label>
                    <p>{{assessmentDetails.nP_Other}}</p>
                </div>
            </div>
        </div>
    </mat-card>
    
</mat-dialog-content>
<mat-dialog-actions align="end" class="mt-4 mb-4">
    <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>
