/* Toolbar (Top Navigation) */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.company-logo {
  height: 40px;
  width: auto;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Two-column Layout */
.form-row {
  display: flex;
  justify-content: space-between;
}

.form-field {
  width: 48%; /* Adjust width to create two columns */
}

.details {
  margin-top: 20px;
}

/* Styling the mat-card */
/* Grid layout with two columns and three rows */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px; /* Adjust spacing between the grid items */
}

.grid-item {
  display: flex;
  flex-direction: column;
}

/* Ensure that the mat-card has appropriate padding and margin */
mat-card {
  width: 40%;
  margin: 24px;
  padding: 16px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
  0 1px 1px 0 rgba(0,0,0,1), 
  0 1px 3px 0 rgba(0,0,0,1);
}

.example-form {
  min-width: 155px;
  max-width: 645px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.example-full-width {
  width: 100%;
}
::placeholder {
  text-align: center; 
}
.example-input {
  max-width: 100%;
  width: 480px;
}
.detail {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;

  mat-icon {
    margin-right: 10px;
    color: #757575;
  }

  span {
    font-weight: 500;
    margin-right: 8px;
    width: 140px;
    color: #333;
  }

  p {
    margin: 0;
    color: #555;
  }
}

.patient-details {
  margin-top: 20px;
  padding: 10px;
}
.assessment-details {
  margin-top: 20px;
  padding: 10px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.btn-gn-care{
  border: none;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  margin-right: 21px;
  background-color: lavender;
  }
  .btn-gn-care:hover {
    background-color: #3f51b5;
    color: white;
  }

  ::ng-deep mat-option:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 4px;
  }
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .loader {
    font-size: 1.5rem;
    color: #007bff; /* Customize loader text color */
  }
  