<div>
  <div class="d-flex justify-content-center">
    <!-- Patient Card -->
    <mat-card class="shadow-box mat-elevation-z ">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search for a Patient</mat-label>
          <input matInput
                 [formControl]="patientControl"
                 [matAutocomplete]="autoPatient"
                 class="formControl">
          <mat-autocomplete #autoPatient="matAutocomplete"
                            (optionSelected)="onPatientSelected($event.option.value)"
                            [displayWith]="displayPatient">
            <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient">
              {{ patient.name }} 
            </mat-option>
          </mat-autocomplete>
          <button mat-icon-button matSuffix *ngIf="patientControl.value" (click)="clearSelection()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card>
    </div>
    <div class="d-flex justify-content-center">
      <mat-card *ngIf="selectedPatient" class="shadow-box mat-elevation-z">
        <form class="example-form">
          <!-- Assessment Dropdown -->
          <mat-form-field class="example-full-width">
            <mat-label>Search for an assessment</mat-label>
            <input matInput
                   [formControl]="assessmentControl"
                   [matAutocomplete]="autoAssessment"
                   class="formControl">
            <mat-autocomplete #autoAssessment="matAutocomplete" 
                              (optionSelected)="onAssessmentSelected($event.option.value)"
                              [displayWith]="displayAssessment">
              <mat-option *ngFor="let assessment of filteredAssessments | async" [value]="assessment">
                {{ assessment.name }} | {{ assessment.date | date: 'MM/dd/yyyy' }}
              </mat-option>
            </mat-autocomplete>
            <button mat-icon-button matSuffix *ngIf="assessmentControl.value" (click)="clearAssessmentSelection()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </form>
        
      </mat-card>
    </div>
</div>
