<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="detail">
                <span>Status:</span>
                <p>{{this.assessment?.status}}</p>
            </div>
            <div class="col-lg-2 detail">
                <span>Name:</span>
                <p>{{this.assessment?.screenName}}</p>
            </div>
            <div class="detail">
                <span>Last Updated Date:</span>
                <p>{{this.assessment?.assesmentDate | date: 'MM/dd/yyyy'}}</p>
            </div>
            
        </div>
    </div>
</div>
