<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="detail">
                <span>Status:</span>
                <p>Completed</p>
            </div>
            <div class="col-lg-2 detail">
                <span>Name:</span>
                <p>Enhanced Care Management Program Completion Questionnaire</p>
            </div>
            <div class="detail">
                <span>Last Updated Date:</span>
                <p>07/27/2024</p>
            </div>
            <div class="detail">
                <span>Created Date:</span>
                <p>07/07/2024</p>
            </div>
            <div class="detail">
                <span>Time Spent:</span>
                <p></p>
            </div>
        </div>
    </div>
</div>
