<div class="container">
    <div *ngFor="let problem of problems" class="row">
      <!-- First Column: Contains details up to Start Date -->
      <div class="col-md-6">
        <div class="detail">
          <span>Problem:</span>
          <p>{{ problem.name }}</p>
        </div>
        
        <div class="detail">
          <span>Start Date:</span>
          <p>{{ problem.startDate | date: 'MM/dd/yyyy' }}</p>
        </div>
      </div>
    
      <!-- Second Column: Contains Close Date and Status -->
      <div class="col-md-6">
        <div class="detail">
          <span>Close Date:</span>
          <p>{{ problem.endDate | date: 'MM/dd/yyyy' }}</p>
        </div>
        <div class="detail">
          <span>Status:</span>
          <p>{{ problem.status }}</p>
        </div>
      </div>
  
      <!-- Horizontal line separator for each problem -->
      <div class="col-12">
        <hr>
      </div>
    </div>
    <p *ngIf="(carePlanModel$ | async)?.problems?.length === 0">No problems available. Add Problems</p>

  </div>
  