.detail {
    display: flex;
    align-items: center; /* Changed from 'end' to 'center' */
    margin: 8px 0px;
    padding: 0px 0;
    font-size: 13px;
}

mat-icon {
    margin-right: 10px;
    color: #757575;
}

span {
    font-weight: 500;
    width: 120px;
    color: #333;
}

p {
    margin: 0;
    color: #555;
    font-size: 12px;
}

  