<div class="container" *ngIf="goals$ | async as goals">
    <div class="row" *ngFor="let goal of goals">
      <!-- First Column: Contains details up to Date of Birth -->
      <div class="detail">
        <span>Goal:</span>
        <p style="margin-left: 70px;">{{ goal.name }}</p>
      </div>
      <div class="detail">
        <span>Status:</span>
        <p>{{ goal.status }}</p>
      </div>
      <div class="detail">
        <span>Start Date:</span>
        <p>{{ goal.startDate | date: 'MM/dd/yyyy' }}</p>
      </div>
      <div class="detail">
          <span>Priority:</span>
          <p>{{ goal.priority }}</p>
        </div>
        <div class="detail">
          <span>Close Date:</span>
          <p>{{ goal.endDate | date: 'MM/dd/yyyy' }}</p>
        </div>  
    </div>
  </div>
  