.detail {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 0;
    font-size: 13px;
}

.detail span {
    font-weight: 500;
    color: #333;
    margin-right: 10px; /* Adds space between span and p */
    min-width: 100px; /* Ensures equal space between span and p */
}

.detail p {
    margin: 0;
    color: #555;
    font-size: 12px;
    flex: 1; /* Ensures p takes remaining space */
}
