<div class="container" *ngIf="goals$ | async as goals">
  <div *ngIf="goals.length === 0">
    <p>Goals are not available. Please add goals.</p>
  </div>
  
  <div class="row" *ngFor="let goal of goals">
    <!-- Problem Name -->
    <div class="col-12">
      <div class="detail">
        <span>Problem: </span>
        <p>{{ goal.problemName }}</p>
      </div>
    </div>
    
    <!-- Goal Name -->
    <div class="col-12">
      <div class="detail">
        <span>Goal:</span>
        <p>{{ goal.name }}</p>
      </div>
    </div>

    <!-- Status and Start Date in the left column -->
    <div class="col-md-6">
      <div class="detail">
        <span>Status:</span>
        <p>{{ goal.status }}</p>
      </div>
      <div class="detail">
        <span>Start Date:</span>
        <p>{{ goal.startDate | date: 'MM/dd/yyyy' }}</p>
      </div>
    </div>
    
    <!-- Priority and Close Date in the right column -->
    <div class="col-md-6">
      <div class="detail">
        <span>Priority:</span>
        <p>{{ goal.priority }}</p>
      </div>
      <div class="detail">
        <span>Close Date:</span>
        <p>{{ goal.endDate | date: 'MM/dd/yyyy' }}</p>
      </div>
    </div>

    <!-- Divider -->
    <div class="col-12">
      <hr>
    </div>
  </div>
</div>
