::ng-deep mat-option:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 4px;
  }

  
  mat-form-field textarea {
    min-height: 3em;
    max-height: 8em; 
    overflow-y: auto; 
    white-space: pre-wrap;
  }
  