<div class="container">
    <div class="row">
        <!-- First Column: Contains details up to Date of Birth -->
        <div class="col-md-6">
            
            <div class="detail">
                <mat-icon>person</mat-icon>
                <span>Name:</span>
                <p>{{ patient?.firstName + ' ' + patient?.lastName }}</p>
            </div>
            <div class="detail">
                <mat-icon>cake</mat-icon>
                <span>Date Of Birth:</span>
                <p>{{this.patient?.dob | date: 'MM/dd/yyyy' }}</p>
            </div>
            <div class="detail">
                <mat-icon *ngIf="this.patient?.gender == 'Male' ">male</mat-icon>
                <mat-icon *ngIf="this.patient?.gender == 'Female' ">female</mat-icon>
                <span>Gender:</span>
                <p>{{this.patient?.gender}}</p>
            </div>
        </div>

        <!-- Second Column: Contains the rest of the details -->
        <div class="col-md-6">
            <div class="detail">
                <mat-icon>favorite</mat-icon>
                <span>Marital Status:</span>
                <p>{{this.patient?.maritalStatus}}</p>
            </div>
            <div class="detail">
                <mat-icon>phone</mat-icon>
                <span>Primary Phone:</span>
                <p>{{this.patient?.primaryPhone}}</p>
            </div>
            <div class="detail">
                <mat-icon>email</mat-icon>
                <span>Email:</span>
                <p>{{this.patient?.email}}</p>
            </div>
            
            
        </div>
    </div>
</div>

